
<%= form_with model: @article do |f| %>
<p>
    <% if @article.errors.any? %>
    <ul>
        <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
    <% end %>
</p>

<p>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
</p>

<p>
    <%= f.label :body %><br/>
    <%= f.text_field :body %>
</p>

  <div class="field form-group">
    <%= f.number_field :user_id, id: :friend_user_id, class: "form-control", value: current_user.id, type: :hidden %>
  </div>
<p>
    <%= f.submit %>
</p>

<% end %>
<%= current_user.inspect %>
