<div class="text-center">
    <h2><%= current_user.name %> <%= current_user.surname %></h2>
    <%= current_user.email %>
</div>
<%= render 'articles/articles_table' %>

<a class="btn btn-primary btn-lg mb-5 ml-5" href='<%= new_article_path %>' role="button">New Article</a>


