<h1>Edit existing category</h1>

<% if @category.errors.any? %>
<h2>The following errors prevented the category from getting created</h2>
<ul>
    <% @category.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
</ul>
<% end %>

<%= form_with model: @category do |f| %>
    <p>
        <%= f.label :name %> <br/>
        <%= f.text_field :name %>
    </p>

    <p>
        <%= f.submit %>
    </p>
<% end %>

<%= link_to "Back to categories listing", categories_path %>